<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes"
    />
    <script defer src="../../static/scripts/bootstrap.bundle.min.js"></script>
    <script defer src="../../static/scripts/font-awesome6.min.js"></script>
    <link rel="stylesheet" href="../../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/styles/font-awesome6.min.css" />

    <script src="index.js"></script>
    <link rel="stylesheet" href="index.min.css" />
    <link rel="icon" href="../../static/img/fish.png" />
    <title>播放中的进度条</title>
  </head>

  <body>
    <div id="app">
      <h1 id="music_name">MILABO</h1>
      <main class="music_card">
        <!-- <audio
          src="http://music.163.com/song/media/outer/url?id=1462389992"
          controls
        ></audio> -->
      </main>
    </div>
    <button type="button" class="btn btn-primary">Primary</button>
  </body>
</html>
