* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
* 颜色
*/
:root {
  --purple: #ac9bb5;
  --deep_purple: #36447b;
  --blue: #648ab9;
  --grey: #d2dbf4;
  --blue_green: #6499c7;
}

body {
  height: 100vh;
  background: URL(../img/back.png);
  backdrop-filter: blur(4px);
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #b3bae756;
}

.main {
  width: 70vw;
  height: 70vh;
  background: #fff;
  border-radius: 40px;
  box-shadow: 8.2px 10.2px 6.4px rgba(0, 0, 0, 0.028),
    14px 17.5px 14.9px rgba(0, 0, 0, 0.04),
    21.8px 27.2px 29.1px rgba(0, 0, 0, 0.052),
    44px 55px 69px rgba(0, 0, 0, 0.08);
  display: flex;
}

.left {
  width: 50%;
  height: 100%;
  background: url(../img/back.png);
  border-radius: 40px 0 0 40px;
}
