.app {
  position: relative;
}

.button {
  height: 20%;
  margin: 0.7rem auto;
}
.button span {
  line-height: 7.5vh;
  font-size: 15px;
}

.titles {
  letter-spacing: 0.5rem;
}

/* 操作按钮 */
input[type="button"] {
  background: none;
  border: none;
}

.editInfo {
  height: 10%;
  margin: 0.5rem 0;
  padding-left: 4rem;
}
.editInfo .editBtn,
.editInfo .saveBtn {
  height: 1.8rem;
  width: 4.5rem;
  margin: 10px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
}
.editInfo .button span {
  line-height: 1.5rem;
  font-size: 12px;
}

/* 搜索 */
.search {
  margin-left: 5rem;
  position: relative;
}
.search span {
  font-size: 0.9rem;
  margin-right: 5px;
}
input[name="search"] {
  width: 11rem;
  height: 1.8rem;
  padding: 0 1.5rem 0 3px;
}
input[name="search"]:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(86, 84, 104, 0.3);
}
.search svg {
  position: absolute;
  top: 3.5px;
  right: 20px;
  opacity: 60%;
}

/* 表格的操作按钮 */
.right td input[type="button"] {
  margin-right: 8px;
  font-size: 0.7rem;
  visibility: hidden;
}
.right td input:hover {
  color: var(--purple_deep);
  cursor: pointer;
}
.right tbody tr:hover input {
  visibility: visible;
}

/* 弹窗 */

.mes {
  position: absolute;
  top: 0;
  left: 0;
}
.mask {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  position: relative;
}
.win {
  position: absolute;
  top: 3.95rem;
  right: 7.6rem;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  box-shadow: 8px 10px 6px rgba(0, 0, 0, 0.028),
    14px 18px 15px rgba(0, 0, 0, 0.04), 22px 27px 29px rgba(0, 0, 0, 0.052),
    44px 55px 69px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.close img {
  position: absolute;
  top: 20px;
  right: 26px;
  width: 20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.close img:hover {
  transform: rotate(180deg);
}

.win .titles {
  margin: 1rem auto;
}

.edit .button {
  display: inline-block;
  width: 4rem;
  height: 1.6rem;
  margin: 0 1.7rem 1rem;
  text-align: center;
}
.edit span {
  font-size: 0.7rem;
  line-height: 1rem;
}

.win .tables {
  margin: 1rem auto 1.8rem;
}
.win thead {
  position: sticky;
  top: -19px;
}

.editable {
  width: 6rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  text-align: center;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
}
.editable:focus {
  outline-style: none;
}

.right .editable:hover {
  color: #000;
  cursor: text;
}
