* {
  box-sizing: border-box;
}

a,
a:visited {
  outline: none;
  text-decoration: none;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #7d96bd, #add4d6);
  display: flex;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  margin: 20px;
  width: 90vw;
}

.card {
  height: 100px;
  width: 200px;
  background-size: 200px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card a {
  height: 100%;
  width: 100%;
}
.card:hover {
  transform: scale(1.04);
}

.corner {
  position: absolute;
  top: 0;
  right: 0;
  background: #282c34;
  color: #d3cce3;
  width: 40px;
  height: 30px;
  border-radius: 0 10px 0 0;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 17px;
}
